.CasesIncludeLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 6px;
  background: white;
  margin-bottom: 20px;
}

@media screen and (max-width: 1446px) {
  .CasesIncludeLogo {
    width: 55px;
    height: 55px;
  }
}
