.line_charts {
  position: relative;
  background: #ff0000;
  width: 258px;
  height: 263px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);

  .contain_title {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    left: 30px;
    top: 30px;
    opacity: 0.5;
  }
}
.custom-tooltip {
  background: white;
  color: black;
  width: 39px;
  height: 25px;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

}
