.profil {
  .contain_nav_information {
    display: flex;
    .contain_more_info_profil {
      width: 100%;
      padding: 0px 90px 0px 109px;
      .nameUser {
        width: 100%;
        font-size: 48px;
        color: $black;
        margin-top: 50px;

        p {
          span {
            color: $primary;
          }
        }

        .contain_text_for_win {
          font-size: 18px;
          margin-top: 20px;
        }
        .contain_litle_charts {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .contain_charts {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .contain_litle_charts {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 30px;
        }
        .cards {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}

@media screen and (max-width: 1446px) {
  .contain_more_info_profil {
    padding: 0px 30px !important;

    .nameUser {
      font-size: 33px !important;
      margin-top: 20px !important;

      .contain_text_for_win {
        font-size: 14px !important;
        margin-top: 18px !important;
      }
    }
    .contain_charts {
      flex-direction: column-reverse;
      margin-top: 30px !important;

      .cards {
        flex-direction: row !important;
      }
    }
  }
}
