.profil {
  .contain_nav_information {
    display: flex;
    .nameUser {
      font-size: 48px;
      color: $black;
      margin-left: 107px;
      margin-top: 50px;

      p {
        span {
          color: $primary;
        }
      }

      .contain_text_for_win {
        font-size: 18px;
        margin-top: 20px;
      }
    }
  }
}
